.row-lunas {
    background-color: green;
    color: white;
  }
  
  .row-sukses {
    background-color: blue;
    color: white;
  }
  
  .row-batal {
    background-color: red;
    color: white;
  }
  
  .row-pending {
    background-color: yellow;
    color: black;
  }